<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            .col-sm-3 img {
                width: 100%;
                height: 100px;
            }
            .container.mons>div.col-sm-3 {
                float: left;
                margin: 8px;
                text-align: center;
            }
            .col-sm-12.view img {
                width: 442px;
            }
            .col-sm-12.view {
                text-align: center;
                padding-top: 40px;
            }
            nav.navbar.navbar-expand-lg.navbar-light.bg-light {
                padding-left: 20px;
                padding-right: 20px;
            }
            span.select2 {
                width: 100%!important;
            }
            input#tag_title {
                width: 80%;
                float: left;
            }
        </style>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="https://sheltered-river-18608.herokuapp.com/assets/style.css" rel="stylesheet">
{#        <link href="https://localhost:8000/assets/style.css" rel="stylesheet">#}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-1.8.3.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/fileinput.min.js"></script>
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('index') }}">Collections ^_^</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('index') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('user_items', {'author': app.user.id}) }}">My profile: {{ app.user.email }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('create_collection') }}">Create collection</a></li>
                       <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                       <li class="nav-item">
                           <form class="form-inline my-2 my-lg-0" action="{{ path('search_form_base') }}" method="get">
                               <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
                           </form>

                       </li>

                    {% else %}
                    <li class="nav-item"><a class="nav-link"  href="{{ path('app_login') }}">Login</a></li>
                        <li class="nav-item"><a class="nav-link"  href="{{ path('app_register') }}">Register</a></li>
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0" action="{{ path('search_form_base') }}" method="get">
                                <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
                            </form>

                        </li>
                    {% endif %}



                </ul>
            </div>
        </nav>
    </header>
<main>
    <div class="wrapper col-sm-12" style="background: url('https://www.gannett-cdn.com/-mm-/6e0dabaca541644e2dfc3adf64062cc4a150f304/c=717-0-4434-2100/local/-/media/2017/11/09/USATODAY/USATODAY/636458564407784776-AP-CHURCH-SHOOTING-GUN-DEBATE-95160461.JPG?width=3200&height=1808&fit=crop&format=pjpg&auto=webp')no-repeat; padding-top: 100px;
background-size: 100%;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    background-blend-mode: multiply;
    background-color: #0000008a;">
        <h1>Not fixed</h1>

    </div>
<div class="container">

        {% block body %}{% endblock %}
</div>
</main>
    </body>
</html>
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>#}

<script>

    $(document).ready(function() {
        var url1 = 'http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/631px-FullMoon2010.jpg',
            url2 = 'http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Earth_Eastern_Hemisphere.jpg/600px-Earth_Eastern_Hemisphere.jpg';
        $('select#add_item_form_tag').select2();
        $("input#add_item_form_images").fileinput({'showUpload':false, 'previewFileType':'any','multiple':true});
        $("input#add_collections_form_image").fileinput({'showUpload':false, 'previewFileType':'any','multiple':true});
        $("input.file_upload_update").fileinput({
            // 'showUpload':false,
            // 'previewFileType':'any',
            'multiple':true,

            initialPreview: [url1, url2],
            initialPreviewAsData: true,
            initialPreviewConfig: [
                {caption: "Moon.jpg", downloadUrl: url1, description: "<h5>The Moon</h5>The Moon is Earth's only natural satellite and the fifth largest moon in the solar system. The Moon's distance from Earth is about 240,000 miles (385,000 km).", size: 930321, width: "120px", key: 1},
                {caption: "Earth.jpg", downloadUrl: url2, description: "<h5>The Earth</h5> The Earth is the 3<sup>rd</sup> planet from the Sun and the only astronomical object known to harbor and support life. About 29.2% of Earth's surface is land and remaining 70.8% is covered with water.", size: 1218822, width: "120px", key: 2}
            ],
            deleteUrl: "/site/file-delete",
            overwriteInitial: false,
            maxFileSize: 100,
            initialCaption: "The Moon and the Earth"



        });

        $('select#form_tag').select2();
        $('select#add_collections_form_items_undefined_tag').select2();
        $('select.my_tag_for_update').select2();




        $( "a.add_tag_list" ).click(function() {

            $("input.form_images").fileinput({'showUpload':false, 'previewFileType':'any','multiple':true});
            $("input.file_upload_update").fileinput({'showUpload':false, 'previewFileType':'any','multiple':true});
            $('.large-12.columns>select').select2();
            $('select.my_tag_for_update').select2();
        });



    });
</script>
