{% extends 'base.html.twig' %}
{% block body %}



<h1 class="title_category_page">Страница категории: {{ category.title }}</h1>
    <div class="row">


    {%  for item in items %}
        <div class="col-sm-4 sm-item">
            <a href="/item/{{ item.slug }}" class="href_item">
                <div class="box content col-sm-12" style="background: url('{{ item.images['0'].name }}')no-repeat;">
                    <div class="title_item_box col-sm-12"><span>{{ item.title }}</span></div>
                    {#                    <div class="description_item_box col-sm-12">#}
                    {#                        <span>{{ item.description }}</span></div>#}
                    <div class="date_item_box col-sm-12"><span>{{ item.dateCreated|date("d.m.Y") }}</span></div>
                </div>
            </a>
        </div>
    {%  endfor %}

    </div>



{% endblock %}