{% extends 'base.html.twig' %}
{% block body %}



<h1 class="title_category_page">Страница пользователя: {{ current_user.username }}</h1>
    <div class="row">
<h2>Коллекции:</h2>

        <table class="table table-light ">
            <thead>
            <tr>

                <th scope="col">Title</th>
                <th scope="col">Дата</th>
                 <th scope="col">#</th>
                    </tr>
                </thead>
<tbody>

    {%  for user_collection in user_collections %}



                <tr>


                    <td>{{ user_collection.title }}</td>
                    <td>{{ user_collection.dateCreated|date("d.m.Y") }}</td>
                    <td><a href="{{ path('remove_collection', {'id': user_collection.id }) }}"><i class="bi bi-trash"></i></a>
                        <a href="{{ path('edit_collection', {'id': user_collection.id }) }}"><i class="bi bi-pencil"></i></a></td>
                </tr>





    {%  endfor %}

      </tbody>

      </table>

</div>



{% endblock %}