{% extends 'base.html.twig' %}

{% block title %}Add Item{% endblock %}

{% block body %}
<div class="container_add_collection">
    <h1>Add Collection</h1>
    {% form_theme addCollectionForm 'foundation_5_layout.html.twig' %}
    {{ form_start(addCollectionForm) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(addCollectionForm) }}
    </div>
<div class="form-group">

    <div class="col-sm-6 form_left"> {{ form_row(addCollectionForm.title,{
            attr: {'class': 'form-control'},
            label: false,
            placeholder: 'Title'
        }) }}</div>





</div>

<div class="form-group">
    {{ form_row(addCollectionForm.image,{
        attr: {'class': 'form-control'},
        label: false,
        placeholder: 'Title'
    }) }}
</div>


        <div class="items row" data-prototype="{{ form_widget(addCollectionForm.items.vars.prototype)|e }}">


        </div>


    <div class="col-sm-12 form_left">
        <button type="submit" class="btn btn-primary">Добавить коллекцию</button>
    </div>

<script>
    const addTagLink = document.createElement('a')
    addTagLink.classList.add('add_tag_list','btn','bnt-sucess')

    addTagLink.href='#'
    addTagLink.innerText='Добавить Item'
    addTagLink.dataset.collectionHolderClass='items'

    //const newLinkLi = document.createElement('div').append(addTagLink)

    const collectionHolder = document.querySelector('div.items')
    collectionHolder.appendChild(addTagLink)

    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('div');

        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;
    }

    addTagLink.addEventListener("click", addFormToCollection)
</script>









    {{ form_end(addCollectionForm) }}




{#    {% form_theme addTagForm 'foundation_5_layout.html.twig' %}#}
{#    {{ form_start(addTagForm) }}#}


{#    <div class="form-group">#}

{#            {{ form_row(addTagForm.title) }}#}
{#        <button type="submit" class="btn btn-primary add_slug_btn">Добавить</button>#}
{#    </div>#}


{#    {{ form_end(addTagForm) }}#}



</div>
{% endblock %}



