{% extends 'base.html.twig' %}

{% block title %}Add Item{% endblock %}

{% block body %}
<div class="container container_edit_c">
    <h1>Update Item</h1>
    {% form_theme updateForm 'foundation_5_layout.html.twig' %}
    {{ form_start(updateForm,{'multipart': true}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(updateForm) }}
    </div>
<div class="form-group">

    <div class="col-sm-6 form_left"> {{ form_row(updateForm.title,{
            attr: {'class': 'form-control'},
            label: false,
            placeholder: 'Title'
        }) }}</div>


</div>
    <div class="form-group">

        <div class="col-sm-6 form_left"> {{ form_row(updateForm.image,{
                attr: {'class': 'form-control'},
                label: false,
                placeholder: 'Title'
            }) }}</div>


    </div>

<ul>

    {% for item in items %}
        <li><a href="#">{{ item.title }}</a><a href="{{ path('edit', {'id': item.id}) }}"><i class="bi bi-pencil"></i></a>
            <a href="{{ path('remove_item', {'id': item.id}) }}"><i class="bi bi-trash"></i></a></li>

    {%  endfor %}



</ul>
    <div class="row add_item_cont">
        <a class="btn btn-success" href="{{ path('create_item',{'id_collection': collection.id})}}">Добавить item</a>
    </div>


    <div class="col-sm-4 form_left">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>



</div>






    {{ form_end(updateForm) }}





    <script>

        const addTagLink = document.createElement('a')
        addTagLink.classList.add('add_tag_list')

        addTagLink.href='#'
        addTagLink.innerText='Add item'
        addTagLink.dataset.collectionHolderClass='items'


        //delete

        const tags = document.querySelectorAll('ul.items')
        tags.forEach((tag) => {
            addTagFormDeleteLink(tag)
        })

        // ... the rest of the block from above





        const addTagFormDeleteLink = (tagFormLi) => {
            const removeFormButton = document.createElement('button')
            removeFormButton.classList
            removeFormButton.innerText = 'Delete this item'

            tagFormLi.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault()
                // remove the li for the tag form
                tagFormLi.remove();
            });
        }








        //const newLinkLi = document.createElement('div').append(addTagLink)

        const collectionHolder = document.querySelector('div.items')
        collectionHolder.appendChild(addTagLink)

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
            addTagFormDeleteLink(item);
        }

        addTagLink.addEventListener("click", addFormToCollection)
    </script>

</div>
{% endblock %}



